* {
  margin: 0;
  padding: 0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
  grid-area: header;
}
menu {
  grid-area: menu;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    "header header"
    "menu main"
    "footer footer";
    grid-template-columns: 20% 80%;
}
.big_box{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}
.card  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 3%;
    text-align: center;
    width: 150px;
    height: 250px;
    padding: 10px;
   
}
.img1{
    width: 100%;
    height: 100%;
    background-image: url(../img/slinky09.jpeg);
    background-position:center;
    background-size: cover;
    
   
}
.card_title{
    padding: 10px;
    font-weight: bold;
}
.card_subtitle{
    padding: 10px;
    font-weight: light;
    color:gray;
    
}
.img2{
    width: 100%;
    height: 100%;
    background-image: url(../img/daddario09.jpeg);
    background-position:center;
    background-size: cover;
}
.img3{
    width: 100%;
    height: 100%;
    background-image: url(../img/dr09.jpg);
    background-position:center;
    background-size: cover;
    
}
.img4{
    width: 100%;
    height: 100%;
    background-image: url(../img/dunlop09.jpg);
    background-position:center;
    background-size: cover;
    
}
.img5{
    width: 100%;
    height: 100%;
    background-image: url(../img/prs09.jpeg);
    background-position:center;
    background-size: cover;
    
}
.price {
    padding-bottom: 10px;
}
.btn_buy{
    background-color: azure;
}
.menu_title{
    padding-bottom: 20px;
}
.menu_subtitle{
    padding-bottom: 10px;
}